$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #04c0f6;
$link-hover-color			:#04c0f6;
$brand-primary              :#04c0f6;
$brand-danger				:#04c0f6;