$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #505dde;
$link-hover-color			:#505dde;
$brand-primary              :#505dde;
$brand-danger				:#505dde;